.calculationBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

@media (min-width: 901px) {

    .calculationBlock {
        flex-direction: row;
        gap: 32px;
        padding: 64px;
    }
}