@media (min-width: 601px) {
    .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    }

    .title {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 1;
    }

    #firstname-fieldset {
    grid-column-start: 1;
    grid-row-start: 2;   
    }
    #lastname-fieldset{
    grid-column-start: 2;
    grid-row-start: 2;
    }
    #email-fieldset{
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
    }

    .contact-method {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
    .radio-div{
        @include flex-dir-row-center; 
    }
    }

    .message-div {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
    }

    #checkbox-fieldset{
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 6;
    }

    .checkbox-error-span {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 7;
    }

    .submit-btn {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 8;
    }
}