@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-dir-column-center-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@mixin flex-dir-row-start-center{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin flex-dir-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}