:root {
    --color-grey-900: #2A4144;
    --color-grey-500: #86A2A5;
    --color-white: #FFFFFF;
    --color-green-600: #0C7D69;
    --color-green-200: #E0F1E8;
    --color-red: #D73C3C;

    --card-radius-mobile: 16px;
    --input-radius-mobile: 8px;
    --success-message-radius: 12px;

    --fast: 0.2s ease;
}