@import 'mixins';
@import 'variables';
@import 'fonts';
@import '../components/styles/components';

*{
    margin: 0;
    padding: 0;
}

body {
    @include flex-center;
    background-color: var(--color-green-200);
    box-sizing: border-box;
    padding: 32px 16px;
}

#root{
    @include flex-center;
    width: 100vw;
    box-sizing: border-box;
}

@import 'media';