.lightbox-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9900;
    background-color: rgba(0, 0, 0, 0.5);
    @include flex-center;
    box-sizing: border-box;
}

.lightbox {
    @include flex-col-center;
    box-sizing: border-box;
    gap: 20px;

    .close-div {
        @include flex-end-center;
        width: 100%;
        #close{
        cursor: pointer;

        path {
            transition: var(--fast);
        }

        & path:active {
            fill: var(--color-orange-500)
      
        }
      }
    }
    
}

@media (hover: hover) and (pointer: fine) {
    .lightbox #close:hover {
        & path {
            fill: var(--color-orange-500)
        }
    
    }
}

@media (hover: none) and (pointer: coarse) {
    .lightbox #close:active {
        & path {
            fill: var(--color-orange-500)
        }
    }
}

.lightbox-img-div {
    position: relative;
    width: 550px;
    height: 550px;
    box-sizing: border-box;

    img {
        width: 100%;
        border-radius: 15px;
    }
}

.change-pictures-div {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex-row-btw-center;
    top: 0;
    button {
        width: 50px;
        height: 50px;
        @include flex-center;
        z-index: 9900;
        border-radius: var(--select-product-radius);
        cursor: pointer;

        svg {
            cursor: pointer;

            path {
                transition: var(--fast);
            }
        }

        &:active {
            & svg path {
                stroke:var(--color-orange-500);
            }
        }
    }

    .picture-btn-right {
        transform: translateX(25px);
        svg {
            margin-left: 4px;
        }
    }

    .picture-btn-left {
        transform: translateX(-25px);
    }
}

@media (hover: hover) and (pointer: fine) {
    .change-pictures-div button:hover {
        & svg path {
            stroke:var(--color-orange-500);
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    .change-pictures-div button:active {
        & svg path {
            stroke:var(--color-orange-500);
        }
    }
}

.lightbox-product-pictures {
    @include flex-row-btw-center;
    width: 90%;
    gap: 32px;
    margin-top: 20px;
}