.tip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
    width: 100%;


    h2 {
        color: var(--color-blue-900);
    }

    p {
        color: var(--color-grey-500);
    }
}

.tips {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    padding: 48px 24px;
}

@media (min-width: 601px) and (max-width: 901px) {
    .tips {
        padding: 50px 50px;
    }
    
    .tip {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        gap: 24px;

        img {
            grid-row: span 2 / span 2;
            align-self: center;
        }

        p {
            grid-column-start: 2;
            grid-row-start: 2;
        }

        h2 {
            grid-column-start: 2;
            grid-row-start: 1
        }
    }

}

@media (min-width: 901px) {
    .tips {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 32px;
        max-width: 1050px;
    }
}