.fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 8px;
}

.inputDiv {
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--input-radius);
    width: 100%;
    border: 1px solid var(--color-grey-500);
    position: relative;
}

.input {
    width: 100%;
    color: var(--color-blue-900);
}

.calcType {
    position: absolute;
    color: var(--color-blue-500);
    right: 24px;
}

.label {
    color: var(--color-grey-500);
    
}

.gridVersion {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    width: 100%;
    gap: 8px;   

    .label {
        grid-column: span 2 / span 2;
    }
}

@media (min-width: 601px) {
    .gridVersion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}