.article {
    width: 100%;
    @include flex-row-center-center;
    gap: 24px;
    height: 130px;

    img{
        height: 100%;
    }

    .article-info {
        @include flex-col-center-start;
        gap: 8px;

        h1 {
            color: var(--color-red-500);
        }

        h2 {
            color: var(--color-navy-950);
        }

        p {
            color: var(--color-navy-600);
        }
    }
}