.product-div {
    width: 600px;
    @include flex-center;
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 600px;
    img {
        width: 100%;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex-row-btw-center;
    box-sizing: border-box;
    padding: 16px;
    background-color: transparent;

    .perviuos, .next {
        background-color: var(--color-white);
        width: 40px;
        height: 40px;
        cursor: pointer;
        @include flex-center;
        border-radius: var(--select-product-radius);
    }

    .left, .right {
        @include flex-center;
    }
}