@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-preset-1-semiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: -5%;
  line-height: 110%;
}

.inter-preset-2-semiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: -5%;
  line-height: 110%;
}

.inter-preset-3-semiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: -5%;
  line-height: 110%;
}

.inter-preset-4-semiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: -5%;
  line-height: 120%;
}

.inter-preset-5-semiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: -5%;
  line-height: 120%;
}

.inter-preset-6-semiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 150%;
}

.inter-preset-6-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 150%;
}

.inter-preset-7-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 150%;
}

.inter-preset-7-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 150%;
}