:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey-500: #5E6E85;
    --color-grey-300: #ACC1DE;
    --color-blue-900: #253347;
    --color-blue-500: #345FF6;
    --color-blue-300: #B3D3F1;
    --color-blue-100: #E1E7FE;
    --gradient: to right #D6FCFE, #D6E6FE;

    --input-radius: 12px;
    --form-radius: 16px;

    --fast: 0.3s ease;
}