* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

@import 'variables','fonts';


#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 48px;
}

.gradient-background {

    background: linear-gradient(to right, var(--color-white), #D6FCFE, #D6E6FE);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 640px;
    border-radius: 0 0 32px 32px;
    z-index: 1;
    max-width: 60%;
    max-height: 735px;

}
