@mixin flex-row-btw-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-center-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}