:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey-950: #1D2026;
    --color-grey-500: #69707D;
    --color-grey-300: #C3CAD9;
    --color-grey-100: #E4E9F2;
    --color-grey-50: #F6F8FD;
    --color-orange-500: #FF7E1B;
    --color-orange-300: #FFAB6A;

    --logo-radius: 50%;
    --select-product-radius: 50%;
    --product-radius: 15px;

    --fast: 0.2s ease;
}