@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-950: #1D2026;
  --color-grey-500: #69707D;
  --color-grey-300: #C3CAD9;
  --color-grey-100: #E4E9F2;
  --color-grey-50: #F6F8FD;
  --color-orange-500: #FF7E1B;
  --color-orange-300: #FFAB6A;
  --logo-radius: 50%;
  --select-product-radius: 50%;
  --product-radius: 15px;
  --fast: 0.2s ease;
}

.kumbh-sans-preset-1-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 2.75rem;
  line-height: 3rem;
  letter-spacing: 0;
}

.kumbh-sans-preset-2-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: 0;
}

.kumbh-sans-preset-3-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0;
}

.kumbh-sans-preset-3-regular {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0;
}

.kumbh-sans-preset-4-regular {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 0.938rem;
  line-height: 1.625rem;
  letter-spacing: 0;
}

.kumbh-sans-preset-5-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 0.813rem;
  line-height: 1rem;
  letter-spacing: 0.125rem;
}

.kumbh-sans-preset-6-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 0.75rem;
  line-height: 0.938rem;
  letter-spacing: 0.116rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  max-width: 600px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding: 24px;
  width: 100%;
}

.menu-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.menu-and-logo svg:last-child {
  margin-bottom: 4px;
}
.menu-and-logo svg {
  cursor: pointer;
}

.cart-and-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
}
.cart-and-account svg {
  cursor: pointer;
}
.cart-and-account .acc-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: var(--logo-radius);
}
.cart-and-account .acc-div img {
  width: 100%;
}

.product-div {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 600px;
}
.product-div img {
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  background-color: transparent;
}
.overlay .perviuos, .overlay .next {
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--select-product-radius);
}
.overlay .left, .overlay .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#company {
  color: var(--color-grey-500);
}

#info-title {
  color: var(--color-grey-950);
}

p {
  color: var(--color-grey-500);
}

.price-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 25px;
  width: 100%;
}
.price-div .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.price-div .price #price {
  color: var(--color-grey-950);
}
.price-div .price .discount {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: var(--color-grey-950);
  color: var(--color-white);
  box-sizing: border-box;
  padding: 2px 10px;
}
.price-div .price-without-discount {
  color: var(--color-grey-500);
  text-decoration: line-through;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  background-color: var(--color-orange-500);
  color: var(--color-black);
  border-radius: 10px;
  padding: 16px;
  border: none;
  box-shadow: 0 12px 32px -6px rgba(255, 126, 27, 0.4);
  width: 100%;
  transition: var(--fast);
}
.add-to-cart-btn:active {
  transform: scale(0.98);
}

@media (hover: hover) and (pointer: fine) {
  .add-to-cart-btn:hover {
    cursor: pointer;
    background-color: var(--color-orange-300);
  }
}
@media (hover: none) and (pointer: coarse) {
  .add-to-cart-btn:active {
    background-color: var(--color-orange-300);
  }
}
.add-to-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.quality {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.quality span {
  color: var(--color-black);
}

.minus-div, .plus-div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  gap: 56px;
  height: 100vh;
  width: 250px;
  transform: translateX(-250px);
  transition: var(--fast);
  background-color: var(--color-white);
  top: 0;
  left: 0;
  z-index: 9900;
}
.mobile-menu-div svg {
  cursor: pointer;
}

.mobile-menu {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
.mobile-menu-item {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0;
  cursor: pointer;
  transition: var(--fast);
}
.mobile-menu-item:active {
  transform: scale(0.99);
  color: var(--color-grey-500);
}
.mobile-menu-item {
  color: var(--color-grey-950);
}

.mobile-menu-active {
  transform: translateX(0);
}

.menu-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 9800;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--fast);
}

.overlay-active {
  display: block;
  opacity: 1;
}

.cart {
  box-sizing: border-box;
  padding: 24px 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  top: 78px;
  right: 5px;
  position: absolute;
  background-color: var(--color-white);
  z-index: 9700;
  width: 360px;
  border-radius: 10px;
  height: 256px;
}

#cart-title {
  color: var(--color-grey-950);
}

.products-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  gap: 24px;
  height: 100%;
  border-top: 1px solid var(--color-grey-100);
  overflow-y: auto;
}

.empty-message {
  color: var(--color-grey-500);
}

.cart-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.cart-item span {
  color: var(--color-grey-500);
}
.cart-item .all-price-span {
  color: var(--color-black);
}
.cart-item svg {
  cursor: pointer;
  transition: var(--fast);
}
.cart-item svg:active {
  transform: scale(0.95);
}

.checkout-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange-500);
  transition: var(--fast);
  box-sizing: border-box;
  padding: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.checkout-btn:active {
  transform: scale(0.98);
  background-color: var(--color-orange-300);
}

@media (hover: hover) and (pointer: fine) {
  .checkout-btn:hover {
    background-color: var(--color-orange-300);
  }
}
@media (hover: none) and (pointer: coarse) {
  .checkout-btn:active {
    transform: scale(0.98);
    background-color: var(--color-orange-300);
  }
}
.all-price-span {
  margin-left: 5px;
}

.cart-img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-img img {
  width: 100%;
}

.sneakers-name-span {
  margin-right: 5px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.quantity-purchased {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--color-orange-500);
  box-sizing: border-box;
  padding: 0 5px;
  top: 0;
  left: 12px;
  cursor: pointer;
  border-radius: 40%;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-size: 0.625rem;
  line-height: 0.938rem;
  letter-spacing: 0.116rem;
  color: var(--color-white);
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav-menu .nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 32px;
  box-sizing: border-box;
  padding: 0 30px;
}
.nav-menu .nav-ul li {
  cursor: pointer;
  color: var(--color-grey-500);
  transition: var(--fast);
}
.nav-menu .nav-ul li:active {
  color: var(--color-orange-500);
  transform: scale(0.95);
}

@media (hover: hover) and (pointer: fine) {
  .nav-ul li:hover {
    color: var(--color-orange-500);
  }
}
@media (hover: none) and (pointer: coarse) {
  .nav-ul li:active {
    color: var(--color-orange-500);
  }
}
.product-pictures {
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-pictures .product-picture-div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.product-pictures .product-picture-div img {
  width: 100%;
}

.lightbox-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9900;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.lightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
}
.lightbox .close-div {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.lightbox .close-div #close {
  cursor: pointer;
}
.lightbox .close-div #close path {
  transition: var(--fast);
}
.lightbox .close-div #close path:active {
  fill: var(--color-orange-500);
}

@media (hover: hover) and (pointer: fine) {
  .lightbox #close:hover path {
    fill: var(--color-orange-500);
  }
}
@media (hover: none) and (pointer: coarse) {
  .lightbox #close:active path {
    fill: var(--color-orange-500);
  }
}
.lightbox-img-div {
  position: relative;
  width: 550px;
  height: 550px;
  box-sizing: border-box;
}
.lightbox-img-div img {
  width: 100%;
  border-radius: 15px;
}

.change-pictures-div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
}
.change-pictures-div button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9900;
  border-radius: var(--select-product-radius);
  cursor: pointer;
}
.change-pictures-div button svg {
  cursor: pointer;
}
.change-pictures-div button svg path {
  transition: var(--fast);
}
.change-pictures-div button:active svg path {
  stroke: var(--color-orange-500);
}
.change-pictures-div .picture-btn-right {
  transform: translateX(25px);
}
.change-pictures-div .picture-btn-right svg {
  margin-left: 4px;
}
.change-pictures-div .picture-btn-left {
  transform: translateX(-25px);
}

@media (hover: hover) and (pointer: fine) {
  .change-pictures-div button:hover svg path {
    stroke: var(--color-orange-500);
  }
}
@media (hover: none) and (pointer: coarse) {
  .change-pictures-div button:active svg path {
    stroke: var(--color-orange-500);
  }
}
.lightbox-product-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 32px;
  margin-top: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) and (max-width: 900px) {
  .container {
    gap: 48px;
  }
  .product-div {
    height: 290px;
  }
  .product-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}
@media (min-width: 600px) {
  .cart-and-account {
    gap: 48px;
  }
  .cart-and-account .acc-div {
    width: 50px;
    height: 50px;
  }
  .product-details .price-div {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
  }
  .product-details .add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .product-div {
    border-radius: var(--product-radius);
  }
}
@media (min-width: 901px) {
  .container {
    max-width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    column-gap: 60px;
  }
  .header {
    grid-column: span 2/span 2;
    margin-bottom: 60px;
  }
  .product-div {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: var(--product-radius);
  }
  .product-details {
    grid-row: span 2/span 2;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .product-pictures {
    margin-left: 30px;
    grid-column-start: 1;
    grid-row-start: 3;
  }
}

/*# sourceMappingURL=styles.css.map */
