*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

@import 'variables',  'fonts', 'mixins', 'active-classes' , 'components';

body {
    @include flex-center;
}

#root {
    width: 100vw;
    @include flex-center;
}
@import 'media';