:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey-400: #7D7D7D;
    --color-grey-200: #D8D8D8;
    --color-grey-150: #E5E5E5;
    --color-grey-100: #F3F3F3;
    --gradient: to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.84);
    --active-gradient: to bottom, rgba(255, 255, 255, 0.60),  rgba(0, 0, 0, 0.84);

    --fast: 0.3s ease;
}