@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

//////////////////////////Desktop//////////////////////////

.libre-baskerville-preset-1-bold-desktop {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12.5rem;
  line-height: 115%;
  letter-spacing: -0.2px;
}

.libre-baskerville-preset-2-bold-desktop {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 115%;
  letter-spacing: 0;
}

.libre-baskerville-preset-3-bold-desktop {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 125%;
  letter-spacing: 0;
}

.libre-baskerville-preset-4-regular-desktop {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.938rem;
  line-height: 135%;
  letter-spacing: 0;
}

.libre-baskerville-preset-5-regular-desktop {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.813rem;
  line-height: 125%;
  letter-spacing: 0;
}

.libre-baskerville-preset-6-bold-desktop {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 125%;
  letter-spacing: 2.5px;
}

.libre-baskerville-preset-7-bold-desktop {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.625rem;
  line-height: 120%;
  letter-spacing: 2px;
}

//////////////////////////Mobile//////////////////////////

.libre-baskerville-preset-1-bold-mobile {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 6.25rem;
  line-height: 100%;
  letter-spacing: 0;
}

.libre-baskerville-preset-2-bold-mobile {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 125%;
  letter-spacing: 0;
}

.libre-baskerville-preset-3-bold-mobile {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 200%;
  letter-spacing: -0.25px;
}

.libre-baskerville-preset-4-regular-mobile {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.625rem;
  line-height: 120%;
  letter-spacing: 0;
}

.libre-baskerville-preset-5-bold-mobile {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.563rem;
  line-height: 125%;
  letter-spacing: 2px;
}