.card {
    @include flex-dir-column-center-start;
    width: 100%;
    background-color: var(--color-white);
    padding: 24px;
    border-radius: var(--card-radius-mobile);
    max-width: 600px;
    position: relative;
}