.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    max-width: 1500px;
}

.itemInfo {
    position: absolute;
    left: 16px;
    bottom: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.galleryItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: var(--fast);

    &:active .overlay{ 
        background: linear-gradient(var(--active-gradient));
    }

    img {
        width: 100%;
    }
}

.pictureName {
    color: var(--color-white);
    text-align: start;
}

.artist {
    color: var(--color-grey-400);
    text-align: start;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--gradient));
}


@media (min-width: 601px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(0, 19rem));
        grid-auto-rows: min-content; 
        justify-content: center;
        gap: 40px;
    }

    
}