.nav-menu {
    width: 100%;
    @include flex-start-center;

    .nav-ul {
        @include flex-center;
        list-style: none;
        gap: 32px;
        box-sizing: border-box;
        padding: 0 30px;

        li {
            cursor: pointer;
            color: var(--color-grey-500);
            transition: var(--fast);
            &:active {
                color: var(--color-orange-500);
                transform: scale(0.95);
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .nav-ul li:hover {
    color: var(--color-orange-500);
}
}

@media (hover: none) and (pointer: coarse) {
    .nav-ul li:active {
        color: var(--color-orange-500);
}
}