.inter-preset-1-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 3.5rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 3.5rem;
}

.inter-preset-2-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 2.5rem;
}

.inter-preset-3-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2rem;
}

.inter-preset-4-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.inter-preset-5-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.inter-preset-6-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.625rem;
}

.inter-preset-7-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4.38px;
  line-height: 1.5rem;
}