@media (min-width: 901px) {
    .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 64px;
    padding: 40px 80px;

    .header {
        grid-column: span 3 / span 3;
    }

    .article-container {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    
    picture {
        display: grid;
        grid-column: span 2 / span 2;
    }
    
    img {
        display: block;
        
    }

    h1 {
        grid-row: span 2 / span 2;
        grid-row-start: 2;
    }

    p {
        grid-row-start: 2;
    }

    .button-read-more {
        grid-column-start: 2;
        grid-row-start: 3;
        width: auto;
        justify-self: start;
    }

    }

    .featured-articles {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    }

    .article-list {
    grid-column: span 3 / span 3;
    grid-row-start: 4;
    @include flex-row-btw-center;
    gap: 40px;
    }
    }
}