:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey-300: #C5C6CE;
    --color-grey-200: #D8D8D8;
    --color-navy-950: #00001A;
    --color-navy-600: #5E607A;
    --color-gold-400: #E9AA52;
    --color-red-500: #F15D51;

    --fast: 0.2s ease;
}