.checkbox {
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none; 
  cursor: pointer;
  display: flex;
  border: 2px solid var(--color-grey-500);
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: transparent;
    border-radius: 4px;
    clip-path: polygon(
      14% 52%,
      24% 62%,
      45% 80%,
      78% 20%,
      66% 12%,
      44% 60%,
      28% 46%
    );
    transition: background-color 0.2s ease;
  }

  &:checked {
    background-color: var(--color-green-600);
    border: 2px solid var(--color-green-600);
  }

  &:checked::after {
    background-color: var(--color-white);
  }
}