.contact-method {
    @include flex-dir-column-center-start;
    width: 100%;
    gap: 16px;

    span:first-child{
        width: 100%;
        color: var(--color-grey-900);
    }
}

.radio-div {
    @include flex-dir-column-center-start;
    width: 100%;
    gap: 16px;
}