.fieldset {
    @include flex-dir-column-center-start;
    border: none;
    width: 100%;
    gap: 8px;
} 
.label{
    color: var(--color-grey-900);
}

.required-star {
    color: var(--color-green-600) !important;
    margin-left: 5px;
}

.fieldset-when-checked {
    border: 1px solid var(--color-green-600) !important;
    background-color: var(--color-green-200) !important;
}

.error-fieldset {
    border: 1px solid var(--color-red) !important;
}