.input {
    border: 1px solid var(--color-grey-500);
    border-radius: var(--input-radius-mobile);
    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;
    caret-color: var(--color-grey-500);
    transition: var(--fast);
    outline: none;
    color: var(--color-grey-900);

    &:focus {
        box-shadow: 0 0 6px 5px rgba(#86A2A5, 0.4);
        border: 1px solid var(--color-green-600);
    } 
}
    @media (hover: hover) and (pointer: fine) {
        .input:hover {
            cursor: pointer;
            border: 1px solid var(--color-green-600);
        }
    }

    @media (hover: none) and (pointer: coarse) {
        .input:active {
            cursor: pointer;
            border: 1px solid var(--color-green-600);
        }
    }