.input-radio{
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none; 
    cursor: pointer;
    border: 1px solid var(--color-grey-500);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    transition: var(--fast);
    position: relative;
    display: flex;
    align-items: center;

    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid transparent;
        inset: 0;
        box-sizing: border-box;
    }

    &:focus {
        transition: var(--fast);
        box-shadow: 0 0 6px 5px rgba(#86A2A5, 0.4);
    }

    &:checked{
        border: 1px solid var(--color-green-600); 
    }

    &:checked::after{
        background-color: var(--color-green-600);
        border: 2px solid var(--color-white);
    }
}