.submit-btn {
    width: 100%;
    @include flex-center;
    background-color: var(--color-green-600);
    padding: 16px 40px;
    border-radius: var(--input-radius-mobile);
    box-sizing: border-box;
    border: none;
    color: var(--color-white);
    transition: var(--fast);
}

@media (hover: hover) and (pointer: fine) {
    .submit-btn:hover {
        cursor:pointer;
        filter: brightness(0.5);
        transition: var(--fast);
}
}

@media (hover: none) and (pointer: coarse) {
    .submit-btn:active {
        cursor:pointer;
        filter: brightness(0.5);
        transition: var(--fast);
}
}