.area-message{
    @include flex-center;
    width: 100%;
    border: 1px solid var(--color-grey-500);
    padding: 12px 24px;
    gap: 16px;
    background-color: var(--color-white);
    border-radius: var(--input-radius-mobile);
    resize: none;
    height: 240px !important;
    caret-color: var(--color-grey-500);
    outline: none;
    transition: var(--fast);
    box-sizing: border-box;
    color: var(--color-grey-900);

    &:focus {
        transition: var(--fast);
        box-shadow: 0 0 6px 5px rgba(#86A2A5, 0.4);
    }
}